.header {
  text-align: center;
    border-bottom: 3px #4d4498 solid;
}
.header hr{
    border-color: #7153cb;
    margin-left:5vw;
    margin-right:5vw;
    margin-top:0.5vw;
    height:1px;

}
header{
    font-size: 3em;
    text-align: left;
    margin-left: 4vw;
    color: aliceblue;
}
body{
    background-image: url("https://cdn.dribbble.com/users/136211/screenshots/2008336/bg-pattern-blue-sm.png");
}
.vl{
    height:60vw;
    width:1px;
    text-align: right;
    position: absolute;
    top: 50%;
    left: auto;
    right:5%;
    transform: translateY(-50%);
    margin-left:fill;
    border-color: #7153cb;
}
.app{
    display: inline;
}